<div id="<%= dom_id todo %>">
  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <%= button_to toggle_priority_todo_path(todo), method: :patch do %>
    <%= todo.high_priority ? "★ High priority" : "☆ Set high priority" %>
  <% end %>
</div>
